bleach==3.1.1
certifi==2019.11.28
chardet==3.0.4
docutils==0.16
idna==2.8
importlib-metadata==1.4.0
keyring==21.1.0
numpy>=1.17.3
ortools==7.4.7247
pandas==0.25.3
pkginfo==1.5.0.1
protobuf==3.11.2
Pygments==2.5.2
python-dateutil==2.8.1
pytz==2019.3
pywin32-ctypes==0.2.0
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
six>=1.13.0
tqdm>=4.41.1
twine==3.1.1
urllib3>=1.25.7
webencodings==0.5.1
wincertstore==0.2
zipp>=1.0.0
